.card{
  width: 160px;
  position: relative;
  &:hover{
    .fa-times{
      display: block;
    }
    .poster-bg{
      &:before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.5);
      }
    }
    
  }
  .fa-times{
    background: none;
    border: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #FFF;
    z-index: 10;
    display: none;
    cursor: pointer;
  }

  a{
    display: block;
    position: relative;
    text-decoration: none;
    color: $text-color;
  }
  .poster-bg{
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 235px;
    position: relative;
    img{
      visibility: hidden;
    }
    
  }
  h4{
    font-size: 14px;
  }
  @include respond-to(small){

  }
}