header{
  padding: 1rem 0;
  border-bottom: 1px solid $border-color;
  margin-bottom: 2rem;
  .container{
    display: flex;
    align-items: center;
  }

  .logo{
    font-size: 2rem;
    text-decoration: none;
  }
  .user-bar{
    margin-left: auto;
    a{
      text-decoration: none;
    }
  }
}